<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="따르릉따르릉"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="9eysa9fxs7" />

        <activity android:name="com.example.myapplication.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.myapplication.LoginActivity" />
        <receiver android:name="com.example.myapplication.BroadcastD"></receiver>
        <activity android:name="com.example.myapplication.RegisterActivity" />
        <activity android:name="com.example.myapplication.MainActivity"/>
        <activity android:name="com.example.myapplication.WeatherActivity"/>
        <activity android:name="com.example.myapplication.RentalActivity"/>
        <activity android:name="com.example.myapplication.RentActivity"
            tools:ignore="DuplicateActivity" />





    </application>

</manifest>